/* GENERAL SIZE */
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
ul{
    padding-inline: 0;
}
li{
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    &:link{
        color: $color-txt;
    }
    &:visited{
        color: $color-txt;
    }
    &:hover{
        color: $color-style-primary;
    }
    &:active{
        color: lighten($color-style-primary,10);
    }
}